<!-- Modal -->
<div class="modal fade" id="card-details" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <div class="form-edit-card-name title-show">
          <h4 class="modal-title" id="card-details-title" style="color: #000; cursor: pointer; white-space: normal; "></h4>
          <div class="from-edit-card-name-content">
            <form action="#" id="change-card-name-form" method="POST">
              <textarea class="form-control textarea" id="card-details-title-input" name="email" style="max-width: 90%;"></textarea>
              <input id="card-details-id" name="card_id" type="hidden" value=""/>
              <input class="btn green" type="submit" value="Change"/>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-body" id="card-details-content">
        <div class="card-details-content">
          <div class="card-details-feed">
            <input type="hidden" id="modal-owner" name="owner">
            <div>
                <div id="checklist" style="display: none; margin-bottom: 80px; clear: both;">
                    <h4 class="modal-title">New checklist</h4>
                    <textarea class="form-control textarea" style="min-height: 0; height: 35px; margin-top: 5px;" placeholder="Checklist name"></textarea>
                    <div id="checklist-tiems"></div>
                    <button class="btn green" type="submit" style="float: left;">Add</button>
                    <button class="btn btn-default add-item-to-checklist" style="float: right; margin-top: 10px;">Add item</button>
                </div>
                <h4 class="modal-title" style="clear: both;">Comments</h4>
                <div id="comments-list"></div>
                <div style="padding: 5px; text-align: center; display: none;" id="loader-gif">
                    <div style="display: inline-block; background: #fff; padding: 4px; border-radius: 6px;"><img src="/images/ajax-loader.gif"/></div>
                </div>
                <form action="/comment/create" class="form-create-comment" method="POST" id="form-create-comment">
                    <input type="hidden" id="author-name" value="<%= session.User.name %>">
                    <textarea name="text" class="textarea" placeholder="Write something..."></textarea>
                    <button class="btn green" type="submit">Add comment</button>
                </form>
                <form action="http://localhost:1337/file/upload" enctype="multipart/form-data" method="post" id="my-form">
                    <div class="fileUpload btn btn-default">
                        <span>Upload file</span>
                        <input type="file" name="file" class="upload" id="input-with-file"><br>
                    </div>
                </form>
            </div>

          </div>

          <div class="card-details-column">
            <span>Actions</span>
            <ul>
                <li class="" data-delate-card-by-id data-dismiss="modal">Delete</li>
                <li class="" id="add-checklist">Add Checklist</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
