<% _.each(cards, function (card) { %>
  <% if(card.owner == list.id ){ %>
    <div class="card">
        <input type="hidden" name="owner" value="<%= card.owner %>">
        <div class="card-title"><%= card.header %></div>
    </div>
    <% } %>
      <% }) %>
