<div class="home-page">
    <div class="jumbotron"></div>
    <h2>Witaj na stronie głównej projektu NSTrello!</h2>
    <h3>Zespół NSTrello</h3>
    <div class="container authors">
        <div class="col-md-4 person">
            <div class="photo">
                <i class="fa fa-user"></i>
            </div>
            <div class="fullname">Paweł Rutkowski</div>
        </div>
        <div class="col-md-4 person">
            <div class="photo">
                <i class="fa fa-user"></i>
            </div>
            <div class="fullname">Krystian Krzywda</div>
        </div>
        <div class="col-md-4 person">
            <div class="photo">
                <i class="fa fa-user"></i>
            </div>
            <div class="fullname">Kamil Milczarek</div>
        </div>
    </div>
</div>