<header>
    <div class="pull-left boards-link">
        <a href="/board">
            <i class="fa fa-trello"></i>
            <span>Boards</span>
        </a>
    </div>
    <a href="/">
        <img class="logo" src="/images/logo.png"/>
    </a>
    <div class="pull-right">
        <a href="/user/new">
            <i class="fa"></i>
            <span>Sign Up</span>
        </a>
    </div>
</header>
