<div class="board col-md-3 add-new">
  <a class="add-board">
    <span>Create new team...</span>
  </a>
  <div class="new-board">
    <div class="new-board-title">
      <span>Create team</span>
      <button class="close" data-dismiss="modal" type="button">×</button>
    </div>
    <form action="/team/create" class="navbar-form navbar-left" method="POST">
      <div class="form-group">
        <% if(flash && flash.err) { %>
          <ul class="allert allert-success">
            <% Object.keys(flash.err).forEach(function(error){ %>
              <li>
                <%- JSON.stringify(flash.err[error]) %>
              </li>
            <% }) %>
          </ul>
        <% } %>

        <div class="input-group">
          <div>
            <label>Title</label>
          </div>
          <input class="form-control" name="name" placeholder="Like ..." type="text">
          <input class="form-control" name="owner" type="hidden" value="<%= session.User.id %>">
          <button class="btn green" type="submit">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
