<a data-target="#register" data-toggle="modal" href="#">
  <i class="fa fa-sign-in"></i>
  <span>Sign Up</span>
</a>

<!-- Modal -->
<div class="modal fade" id="register" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content register">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title" style="color: #000;">Create an account</h4>
      </div>
      <div class="modal-body">
        <form action="/user/create" class="form-signin" id="sign-up-form" method="POST">

          <div class="control-group">
            <input class="form-control" name="name" placeholder="Your name" type="text">
          </div>

          <div class="control-group">
            <input class="form-control" name="title" placeholder="Your title" type="text">
          </div>

          <div class="control-group">
            <input class="form-control" name="email" placeholder="Email address" type="text">
          </div>

          <div class="control-group">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
          </div>

          <div class="control-group">
            <input class="form-control" name="confirmation" placeholder="Password confirmation" type="password">
            <br/>
          </div>

          <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account"/>
          <input name="_csrf" type="hidden" value="<%= _csrf %>"/>
        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>

  </div>
</div>
