<div class='container'>
  <dl class="dl-horizontal">
    <dt>
      Name
    </dt>
    <dd>
      <%= user.name %>
    </dd>
    <dt>
      Title
    </dt>
    <dd>
      <%= user.title %>
    </dd>
    <dt>
      Email
    </dt>
    <dd>
      <%= user.email %>
    </dd>
  </dl>
  <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>
