<div style="margin-top: 5px; ">
    <form action="/member/destroy/<%= member.id %>" method="POST">
        <input name="_method" type="hidden" value="delete">
        <button class="close delete-board" type="submit">X</button>
    </form>
</div>

