<div class="modal fade" id="editTeam" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Change Members</h4>
            </div>
            <div class="form-group">
                <div class="input-group" style="width: 100%;">
                    <div data-scroll-content id="lists-content" style="white-space: nowrap;">
                        <% _.each(members, function (member) { %>
                        <div class="team team-wrapper" data-list-id="<%= member.id %>">
                            <div id="card"  class="card-list">
                                <ul class="connectedSortable list-sortable">
                                </ul>
                                <a href="/member/show/<%= member.id %>">
                                    <span>
                                      <%= member.name %>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <% }) %>
                        <%- include new.ejs %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>