<div class="col-md-12 col-centered" id="lists-main-view">
  <div id="members">
    <div data-scroll-content id="lists-content" style="white-space: nowrap;">
      <% _.each(members, function (member) { %>
        <div id="member">
          <%- include edit.ejs %>

        </div>
      <% }) %>

      </div>
  </div>
</div>