.boards {
  .board {
    a { color: #fff; display: block;  padding: 10px; border-radius: 4px; height: 96px; background: $blue2; position: relative; font-weight: 700; font-size: 18px;
      span { position: relative; z-index: 10; }
      &:hover { text-decoration: none; }
    }
    &.add-new {
      a { text-align: center; padding-top: 35px; background: #8c8c8c; font-weight: normal; }
    }
    &:hover {
      a {
        &:before { content: " "; position: absolute; border-radius: 4px; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.25); }
      }
    }
  }
}