#lists-main-view { min-height: 300px; overflow: hidden;
  #lists { overflow: hidden;
    .list { width: 270px; background: #e2e4e6;  border-radius: 4px; box-sizing: border-box; max-height: 100%; padding: 8px 10px; position: relative; display: inline-block; vertical-align: top;
      margin-right: 6px;
      &.add-list { background: rgba(0,0,0,.12); }
      .dropdown-list { color: #999; opacity: 0.5; transition: .3s; cursor: pointer; position: relative;
        &:hover { opacity: 1; }
        .dropdown {  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; display: none; position: absolute; z-index: 100; left: 0; top: 12px; width: 200px; background: #fff; margin: 0; list-style: none; padding: 15px 0; border-radius: 4px; border: 1px solid $borderColor;
          li {cursor: pointer; display: block; font-weight: 700; padding: 6px 10px; font-size: 14px!important;
            .delete-list{ float: none; font-size: 14px!important; }
            &:hover {
              background-color: #298fca;
              color: #fff;
            }
          }
        }
        &.open{  opacity: 1;
          .dropdown { display: block;}
        }
      }
    }
  }
}

