$blue: #026aa7;
$blue2: #0079BF;
$blueLight: #398aba;
$blueLightHover: #5198c2;
$fontColor: #4d4d4d;
$iconColor: #999;
$borderColor: #d6dadc;
$grey: #8c8c8c;

html { min-height: 100%;}
@import "fonts";
@import "header";
@import "gui";
@import "home-page";
@import "board";
@import "list";
@import "custom-scrollbar";
