<div class="form-group">
  <div class="input-group" style="width: 100%;">
    <form action="/list/update/<%= list.id %>/" class="form-update-list" id="rename-list" method="POST">
      <div class="modal-body clearfix">
        <input class="board-id form-control" name="owner" type="hidden" value="<%= board.id %>">
        <input class="form-control" id="new-name" name="name" style="width: 100%;" type="text" value="<%= list.name %>">
        <input name='_csrf' type='hidden' value='<%= _csrf %>'>
      </div>
      <div class="modal-footer">
        <button class="btn green" data-url="" type="submit">Rename</button>
      </div>
    </form>
  </div>
</div>
