<form class="navbar-form navbar-left" action="/list/create" method="POST" class="form-create-list">
  <div class="form-group">
  <% if(flash && flash.err) { %>
    <ul class="allert allert-success">
  <% Object.keys(flash.err).forEach(function(error){ %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
      </ul>
  <% } %>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Nazwa Listy" name="name">
    <input type="hidden" class="form-control" name="owner" value="<%= board.id %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button type="submit" class="btn btn-default">Dodaj listę</button>
  </div>
</div>
</form>
