<div class="col-md-12">
  <div class="row">
    <div class="col-md-11 col-centered">
      <div class="row page-title">
        <i class="fa fa-user"></i>
        <h2>My boards</h2>
      </div>
      <div class="row boards">
        <% _.each(boards, function (board) { %>
          <% if(board.owner == session.User.id ){%>
            <div class="board col-md-3">
              <a href="/board/show/<%= board.id %>">
                <span>
                  <%= board.name %>
                </span>
              </a>
            </div>
            <% } %>
              <% }) %>
                <%- include new.ejs %>
      </div>
    </div>
  </div>
</div>
