<div class="col-md-12 blue-bg" id="board-view">
  <div class="col-md-12 col-centered" style="padding: 0;">
    <div class="row page-title white">

      <h2 class="board-title board-name" data-target="#editName" data-toggle="modal">
        <%= board.name %>
      </h2>
      <h2 class="board-title board-name" data-target="#editAcces" data-toggle="modal">
        <%= board.acces %>
      </h2>
      <% include acces.ejs %>
      <% include destroy.ejs %>
      <% include edit.ejs %>
    </div>
  </div>
  <% include ../list/index.ejs %>

  <div class="custom-scroll lists-scroll" data-scroll="#lists">
    <div class="custom-scroll-bar" style="width: 0%"></div>
  </div>
    <div class="personalization">
        <div class="personalization-board">
            Personalization
            <div class="box">
                <div>
                    <label for="background-color">Choose a calor for background :</label>
                    <input id="background-color" type="color" value="#0079bf"/>
                </div>
                <div>
                    <label for="background-image">Choose a image for background :</label>
                    <input id="background-image" type="file" accept="image/x-png, image/gif, image/jpeg"/>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<div class="col-md-3">
  <% include ../activity/board.ejs %>
</div>-->
