<div class="col-md-12 blue-bg" id="board-view">
  <div class="col-md-12 col-centered">
    <div class="row page-title white">
      <h2 class="board-title board-name" data-toggle="modal" data-target="#editName">
        <%= board.name %>
      </h2>
      <% include destroy.ejs %>
    </div>
  </div>

  <% include ../list/index.ejs %>
    <% include rename.ejs %>

      <div class="custom-scroll lists-scroll" data-scroll="#lists">
        <div class="custom-scroll-bar" style="width: 0%"></div>
      </div>
