<div class="col-md-12 blue-bg" id="board-view">
  <div class="col-md-12 col-centered" style="padding: 0;">
    <div class="row page-title white">
      <h2 class="board-title board-name" data-toggle="modal" data-target="#editName">
        <%= board.name %>
      </h2>
      <% include destroy.ejs %>
    </div>
  </div>

  <% include ../list/index.ejs %>
    <% include rename.ejs %>

      <div class="custom-scroll lists-scroll" data-scroll="#lists">
        <div class="custom-scroll-bar" style="width: 0%"></div>
      </div>

    <!-- Modal -->
    <div id="card-details" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="form-edit-card-name title-show">
                        <h4 class="modal-title" style="color: #000; cursor: pointer;" id="card-details-title"></h4>
                        <div class="from-edit-card-name-content">
                            <form action="#" method="POST" id="change-card-name-form">
                                <textarea class="form-control" id="card-details-title-input"name="email"></textarea>
                                <input type="hidden" id="card-details-id" name="card_id" value="" />
                                <input type="submit" class="btn green" value="Change"/>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-body" id="card-details-content">
                    <div class="card-details-content">
                        <div class="card-details-feed">
                            <div style="text-align: center">
                                <img src="/images/ajax-loader.gif">
                            </div>
                        </div>
                        <div class="card-details-column">
                            <span>Actions</span>
                            <ul>
                                <li>Usuń</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
